<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-signal"></span> About us</h3>
  </div>
  <div class="panel-body about">
    <div class="row col-md-12">
      <h3>Scope</h3>
      Taxable supports users to calculate their personal income tax, social insurance, health insurance, unemployment insurance monthly according to Vietnamese law.
      Users are applied for all taxpayers according to PIT Law in Vietnam (this means for both Vietnamese and foreigners who have residential location in Vietnam).
      Taxable Tool just applies the rates of PIT for business income and income being salary; it does not include other incomes such as income from capital investment, income from capital transfer...
      <h3>Reference</h3>
      Law on Personal Income Tax dated 21 November 2007;
      Circular on Personal Income Tax No. 84/2008/TT-BTC of the Ministry of Finance dated 30 September 2008 making detailed provisions for implementation of the Law on Personal Income Tax and Decree 100/2008/ND-CP of the Government dated 8 September 2008 on Personal Income Tax.
      <h3>Notice</h3>
      The values of personal income tax, social insurance, health insurance, unemployment insurance are based on the current law. If there is any changes in the law which affect the calculation, the new method will be applied in the next version of the application. This is the free version; no liability is undertaken by us in using the application for any purpose.
      In this application, the social insurance, health insurance, and unemployment insurance are calculated based on the gross/net salary entered by users. In reality these values are based on the salary which is registered in Department of Labor, War Invalids and Social Welfare.
      The maximum calculable number is: 999,999,999,999.99 VND
      The application use point (".") as decimal symbol and space (",") as digit grouping symbol by default.
    </div>
    <div class="row col-md-12">
      <h3>Development Roadmap</h3>
      <label>Alpha</label>
      <div class="progress progress-striped">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
          <span class="sr-only">90% Complete (success)</span>
        </div>
      </div>
      <label>Open Beta, Support Vietnamese</label>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
          <span class="sr-only">40% Complete</span>
        </div>
      </div>
      <label>Run at Offline mode</label>
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
          <span class="sr-only">0% Complete (warning)</span>
        </div>
      </div>
      <label>Apply User guide</label>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
          <span class="sr-only">20% Complete (danger)</span>
        </div>
      </div>
    </div>
  </div>
</div>
