<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-signal"></span>&nbsp; Về chúng tôi và Miễn trừ Trách nhiệm</h3>
  </div>
  <div class="panel-body about">
    <div class="row col-md-12">
      <h3>Nội dung</h3>
Ứng dụng tính lương gộp, thực lãnh, thuế TNCN gọi tắt là Taxable là một chương trình giúp người dùng tính thuế thu nhập cá nhân, bảo hiểm xã hội, bảo hiểm y tế và bảo hiểm thất nghiệp hàng tháng theo quy định của Luật Việt Nam.
Người sử dụng ở đây bao gồm tất cả các đối tượng chịu thuế theo Luật thuế thu nhập cá nhân Việt Nam.
      Taxable chỉ được dùng để tính thuế thu nhập cá nhân cho thu nhập từ kinh doanh và thu nhập từ  tiền lương, tiền công. Nó không bao gồm các loại thu nhập khác như thu nhập từ chênh lệch mua bán, tiền lãi, đầu tư vốn, thu nhập từ chuyển nhượng vốn...
      <h3>Căn cứ</h3>
      Luật Thuế thu nhập cá nhân ngày 21 tháng 11 năm 2007;
Thông tư 84/2008/TT-BTC ngày 30 tháng 9 năm 2008 hướng dẫn thi hành Luật Thuế thu nhập cá nhân và hướng dẫn thi hành Nghị định số 100/2008/NĐ-CP ngày 8 tháng 9 năm 2008 của Chính phủ quy định chi tiết một số điều của Luật Thuế thu nhập cá nhân.
      <h3>Ghi chú</h3>
      Các kết quả tính toán trong chương trình như thuế Thu nhập Cá nhân, Bảo hiểm Xã hội, Bảo hiểm Y tế, Bảo hiểm Thất nghiệp… được tính toán dựa trên các quy định hiện hành nêu trên. Khi có sự thay đổi các quy định pháp luật ảnh hưởng đến việc tính toán này, cách tính mới sẽ được cập nhật ở phiên bản sau. Đây là phiên bản miễn phí, chúng tôi sẽ không chịu trách nhiệm trước pháp luật khi chương trình này được sử dụng vào bất kỳ mục đích gì.
Trong ứng dụng này Bảo hiểm xã hội, Bảo hiểm y tế, Bảo hiểm thất nghiệp được tính dựa vào mức lương gộp/thực lãnh được nhập vào. Trong thực tế các giá trị này được tính theo mức lương đăng ký tại Phòng Lao Động Thương Binh Xã Hội.
Mức lương lớn nhất có thể tính được là: 999,999,999,999.99 VND
Ứng dụng này mặc định dùng dấu chấm (".") để phân cách hàng thập phân và dấu phẩy (",") để phân cách hàng ngàn.
    </div>
    <div class="row col-md-12">
      <h3>Development Roadmap</h3>
      <label>Alpha</label>
      <div class="progress progress-striped">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
          <span class="sr-only">100% Complete (success)</span>
        </div>
      </div>
      <label>Open Beta, Support Vietnamese</label>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
          <span class="sr-only">95% Complete</span>
        </div>
      </div>
      <label>Run at Offline mode</label>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
          <span class="sr-only">80% Complete (warning)</span>
        </div>
      </div>
      <label>Support local storage</label>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
          <span class="sr-only">40% Complete (danger)</span>
        </div>
      </div>
      <label>Apply User guide</label>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
          <span class="sr-only">80% Complete (info)</span>
        </div>
      </div>
      <label>Print section</label>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
          <span class="sr-only">20% Complete (danger)</span>
        </div>
      </div>
    </div>
  </div>
</div>
