<div class="jumbotron">
    <h1>Under Construction</h1>
    <p class="lead">News will be as soon as possible</p>
    <h2>Liên kết</h2>
    <ul>
      <li>Bảo hiểm Xã hội Tp.Hồ Chí Minh <a href="http://bhxhtphcm.gov.vn/">http://bhxhtphcm.gov.vn/</a></li>
    </ul>
</div>
